SERVER_PORT=8090
SERVER_CONTEXT_PATH=/api
DB_URL=jdbc:postgresql://sample-db:5432/sample
DB_USERNAME=sample_username
DB_PASSWORD=sample_password
JWT_SECRET=samplesamplesamplesamplesamplesamplesamplesamplesamplesamplesamplesamplesamplesamplesamplesample
JWT_EXPIRATION=900000
JWT_REFRESH_EXPIRATION=3000000
JWT_ISSUER=sample-app
JWT_AUDIENCE=sample-api
DROPBOX_ACCESS_TOKEN=sample_dropbox_access_token_here12345678
GOOGLE_CLIENT_ID=sample_client_id12345
GOOGLE_CLIENT_SECRET=samplesamplesamplesamplesamplesamplesamplesamplesamplesamplesamplesamplesamplesamplesamplesample
GOOGLE_REDIRECT_URI=http://localhost:8091/api/auth/google/callback
MAIL_PASSWORD=samp samp samp samp
MAIL_USERNAME=sample@gmail.com
