SERVER_PORT=8090
SERVER_CONTEXT_PATH=/api
DB_URL=jdbc:postgresql://sample-db:5432/sample
DB_USERNAME=sample_username
DB_PASSWORD=sample_password
JWT_SECRET=samplesamplesamplesamplesamplesamplesamplesamplesamplesamplesamplesamplesamplesamplesamplesample
JWT_EXPIRATION=900000
JWT_REFRESH_EXPIRATION=3000000
